div {
    border: 1px black solid;
}

body {
    background-color: grey;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-around;
}

th,
td {
    padding-left: 70px;
}