
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

div{
    display: flex;
    border-style: solid;
    border-width: 1px;
}

.header{
    background-color: aqua;
    height: 120px;
    justify-content: flex-end;
    align-items: end;
}
    


.boxes{
    border-style: none;
    width: 120px;
    margin-right: 50px;
    margin-bottom: 30px;
    position: relative;
    justify-content: space-between;

}


.div1{
    background-color: blue;
    width: 30px;
    height: 30px;
}

.div2{
    background-color: blue;
    width: 30px;
    height: 30px;

}

.div3{

    background-color: blue;
    width: 30px;
    height: 30px;

}

.under{
    border-style: none;
    padding: 20px;
}

.content
{
    position: relative;
    padding: 20px;
    width: 400px;
    height: 300px;
}


.Text{
    border-style: none;
    display: flex;
    flex-direction: column;

}

.Text h1 {
    font-size: large;
    margin: 10px;
}

li{
    font-size: small;
    margin-left: 20px;
    
}

.brb{
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;

}


.box{
    background-color: orange;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
}
