div {
    border: 2px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    background-color: black;
    height: 74px;
    padding-left: 109px;
    padding-right: 99px;
}

.textleft {
    height: 105px;
    gap: 50px;
    color: grey;
    border-color: aqua;
    display: flex;
    justify-content: space-between;
}

.textleft div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconright {
    width: 320px;
    border-color: blue;
}