div {
    border: 2px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 74px;
    padding-left: 109px;
    padding-right: 99px;
}

.textleft {
    height: 74px;
    gap: 25px;
    color: grey;
    border-color: aqua;
    display: flex;
    justify-content: space-between;
}

.textleft div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 270px;
    border-color: blue;
}

.iconright img {
    width: 25px;
    height: 25px;
    border-color: blue;
    filter: invert(50%);
}

.iconright img:hover {
    cursor: pointer;
    filter: invert(100%);
}


.login img {
    width: 40px;
    height: 40px;

}

.login {
    justify-content: center;
    align-items: center;
    display: flex;
    color: gray;
}

.iconright :hover {
    color: white;
}